body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 26px;
  font-weight: 700;

  background-image: url("C:/Users/pam/Desktop/HTML academy/sedona/1122549-sedona-26/img/backgroundphoto.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.main-menu {

}

.site-navigation,
.advantages {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  opacity: 0.3;
}

.reason {
  list-style: none;
  text-align: center;
  width: 280px;
  height: 146px;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;

}


