body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/backgroundphoto.jpg");
  background-position: top -27px center;
  background-repeat: no-repeat;
}

/* Временно для сетки */

/*body {*/
/*  !* Временно для сетки *!*/
/*    background-image: url("../img/sedona-hotels.jpg");*/
/*  background-position: top center;*/
/*  background-repeat: no-repeat;*/
/*}*/

html,
body {

}

.inner-page {
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;

}


/* Временно для сетки */
.temporary {
  background-image: url("../img/sedona-hotels.jpg");
  background-size: auto;
  background-position: top center;
  background-repeat: no-repeat;
  /*opacity: 0.8;*/
  min-width: 1200px;
  min-height: 933px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  width: 100%;
  margin-bottom: 76px;
}

.site-navigation {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.site-navigation .logo {
  background-color: transparent;
  width: 138px;
  height: 72px;
  margin: -1px 0;
  padding: 0;
}

.site-navigation li {
  line-height: 10px;
  width: 240px;
  height: 56px;
  background-color: #ffffff;
}

.site-navigation .info {
  display: block;
  color: #000000;
  font-weight: 700;
  padding: 22px 75px 24px 70px;
}

.site-navigation .photo {
  display: block;
  color: #000000;
  font-weight: 700;
  padding: 22px 69px 24px 72px;
}

.site-navigation .statemap {
  display: block;
  color: #000000;
  font-weight: 700;
  padding: 22px 70px 24px 75px;
}

.site-navigation .hotels {
  display: block;
  color: #000000;
  font-weight: 700;
  padding: 22px 72px 24px 88px;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  opacity: 0.3;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation,
.advantages,
.social-networks li,
.result li,
.filter li {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  width: 459px;
  height: 353px;
  margin-bottom: 21px;
}

.polygon {
  width: 1200px;
  height: 59px;
  margin: 0 auto;
}

.container .intro {
  /* как быть с высотой? */
  height: 99px;
  padding: 60px 355px 58px;
  margin: -2px 0 0 0;
  background-color: #ffffff;
}

.intro h1 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: justify-all;
  margin: 0 0 0 0;
}

.intro p {
  width: 490px;
  color: #333333;
  font-weight: 400;
  margin: 29px auto;
}

.reason-item {
  height: 256px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: justify-all;
  list-style: none;
}

.reason-item .reason-city {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.reason-city-image {
  width: 800px;
  height: 256px;
  background-image: url("../img/city.jpg");
  background-position-y: -77px;
  background-size: cover;
}

.reason-city h2 {
  min-width: 20px;
  min-height: 50px;
  font-size: 21px;
  font-weight: 700;
  margin: 46px 105px 0 105px;
  text-align: justify-all;
}

.reason-city span {
  font-weight: 400;
  display: block;
  margin: 15px 0 0 0;
}

.reason-city p {
  min-width: 280px;
  min-height: 42px;
  font-weight: 400;
  margin: 22px 55px 64px;
}

.advantages {
  height: 330px;
  background-color: #ffffff;
  color: #333333;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: justify-all;
}

.advantages-list li:nth-child(1) {
  height: 185px;
  width: 260px;
  text-align: center;
  align-items: center;
  margin: 60px 70px 85px 70px;
}

.advantages-list li:nth-child(2) {
  height: 182px;
  width: 290px;
  text-align: center;
  align-items: center;
  margin: 61px 55px 87px 55px;
}

.advantages-list li:nth-child(3) {
  height: 188px;
  width: 280px;
  text-align: center;
  align-items: center;
  margin: 56px 60px 86px 60px;
}

.advantages-item h3 {
  position: relative;
  margin: 21px 0 0 -3px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-item p {
  line-height: 21px;
  margin: 24px auto;
}

.reason-item .reason-canyon {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.reason-canyon-image {
  width: 800px;
  height: 256px;
  background-image: url("../img/canyon.jpg");
  background-position-y: -77px;
  background-size: cover;
}

.reason-canyon h2 {
  min-width: 20px;
  min-height: 50px;
  font-size: 21px;
  font-weight: 700;
  margin: 45px 125px 0 125px;
}

.reason-canyon span {
  font-weight: 400;
  display: block;
  margin: 16px 0 0 0;
}

.reason-canyon p {
  min-width: 280px;
  min-height: 42px;
  font-weight: 400;
  margin: 21px 37px 64px 40px;
}

.morereason {
  width: 1200px;
  height: 256px;
  background-color: #f2f2f2;
  color: #333333;
}

.reason-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 21px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.morereason-item {
  height: 143px;
  width: 310px;
  padding: 47px 50px 66px 50px;
}

.morereason-item h2 {
  width: 120px;
  font-size: 21px;
  font-weight: 700;
  margin: 0 auto;
}

.morereason-item span {
  font-weight: 400;
  display: block;
  margin: 23px auto 0;
}

.morereason-item p {
  min-width: 210px;
  font-weight: 400;
  margin: 21px auto;
}

.check {
  width: 1200px;
  height: 240px;
  padding: 50px 0 0;
  background-color: #ffffff;
  color: #333333;
}

.check h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin: 0 auto;
}

.check p {
  min-height: 40px;
  line-height: 24px;
  margin: 24px 370px 46px;
}

.button {
  display: inline-block;
  min-width: 289px;
  min-height: 18px;
  padding: 30px 138px 30px 138px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #766357;
}

.check .button:hover {
  background-color: #604e43;
}

.check .button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map {

}

.page-footer {
  width: 1200px;
  height: 120px;
  margin: -128px auto;
  background-color: #ffffff;
  opacity: 0.9;
}

.inner-page .page-footer {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  background-color: #ffffff;
  opacity: 0.9;
}

.page-footer .container {
  width: 967px;
  display: flex;
  padding: 36px 101px 36px 132px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hashtag a {
  display: block;
  width: 150px;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px -7px;
}

.social-networks {
  width: 180px;
  text-align: center;
}

.social-networks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.developer {
  width: 200px;
  vertical-align: middle;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.developer p {
  display: block;
  width: 74px;
  margin: 10px 0 0 3px;
}

.developer-logo {
  width: 115px;
  height: 41px;
  margin: 4px 0;
}

.developer-logo:hover path {
  fill: #81b3d2;
}

.developer-logo:focus path {
  fill: #bdbbbc;
}




/*.filters {*/
/*  width: 1200px;*/
/*  height: 217px;*/
/*  margin: -76px 0 0 0;*/
/*  display: flex;*/
/*  justify-content: left;*/
/*  flex-wrap: wrap;*/
/*}*/

.filter{
  width: 184px;
  padding: 24px 0 0 71px;
  margin: 0;
  border: none;
}

.filter ul {
  text-align: left;

}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter legend {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;

}

.filter ul {
  text-align: left;
  padding: 0;
  margin: 0;
  color: #ffffff;
  line-height: 46px;
}

.filter-option {
  padding-left: 23px;
}

/*.filter-option label {*/
/*  position: relative;*/
/*  display: block;*/
/*  cursor: pointer;*/
/*  user-select: none;*/
/*}*/


/*.more {*/
/*  font-weight: 700;*/
/*  background-color: #81b3d2;*/
/*  width: 110px;*/
/*  height: 27px;*/
/*  color: #ffffff;*/
/*}*/

/*.more:hover {*/
/*  background-color: #669ec0;*/
/*}*/

/*.more:focus {*/
/*  color: rgba(255, 255, 255, 0.3);*/
/*  background-color: #5496bd;*/
/*}*/

/*.book {*/
/*  font-weight: 700;*/
/*  background-color: #766357;*/
/*  width: 142px;*/
/*  height: 27px;*/
/*  color: #ffffff;*/
/*}*/

/*.book:hover {*/
/*  background-color: #604e43;*/
/*}*/

/*.book:focus {*/
/*  color: rgba(255, 255, 255, 0.3);*/
/*  background-color: #503e33;*/
/*}*/

/*.result-item {*/
/*  background-color: #ffffff;*/
/*}*/

/*.result-item a {*/
/*  color: #ffffff;*/
/*  font-weight: 700;*/
/*}*/

/*.rating {*/
/*  width: 110px;*/
/*  height: 27px;*/
/*  background-color: #f2f2f2;*/
/*  color: #666666;*/
/*}*/


