body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  background-color: #f2f2f2;
  background-image: url("../img/backgroundphoto.jpg");
  background-position: top -27px center;
  background-repeat: no-repeat;
}

body {
  /* Временно для сетки */
  background-image: url("../img/sedona-index.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

html,
body {
  min-width: 1200px;
  /* Временно для сетки */
  opacity: 0.8;
}

.inner-page {
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  /* Временно для сетки */
  min-height: 565px;
  flex-direction: column;
  align-items: center;
}

.page-header .container {
  display: flex;
}

.main-menu {
  width: 100%;
  margin-bottom: 76px;
  min-height: 56px;
}

.site-navigation {
  /* Временно для сетки */
  min-width: 1200px;
  min-height: 56px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation .logo {
  background-color: transparent;
  width: 140px;
  height: 72px;
  margin: 0;
  padding: 0;
}

.site-navigation li {
  width: 240px;
  height: 56px;
  background-color: #ffffff;
}

.site-navigation a {
  /* Разобраться с позиционированием */
  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  opacity: 0.3;
}

.site-navigation a:active {
  color: #766357;
}

.site-navigation,
.advantages,
.social-networks li,
.result li,
.filter li {
  list-style: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  /* Временно для сетки */
  width: 459px;
  height: 353px;
  margin-bottom: 21px;

}

.polygon {
  /* Временно для сетки */
  width: 1200px;
  height: 59px;
  margin: 0 -1px 0 -2px;
}

.intro {
  min-width: 1200px;
  min-height: 217px;
  margin: -2px 0;
  background-color: #ffffff;
  text-align: justify-all;
}

.intro h1 {
  /* Разобраться с позиционированием */
  width: 445px;
  height: 48px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 60px 379px 20px;
}

.intro p {
  /* Разобраться с позиционированием */
  width: 490px;
  height: 13px;
  color: #333333;
  font-weight: 400;
  margin: 32px 340px 56px 352px;
}

.reason-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: justify-all;
  width: 1200px;
  margin: 1px 2px 0 0;
  list-style: none;
}

.reason-item .reason-city {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.reason-city-image {
  width: 800px;
  height: 256px;
  background-image: url("../img/city.jpg");
  background-position-y: -77px;
  background-size: cover;
}

.reason-city h2 {
  min-width: 20px;
  min-height: 50px;
  font-size: 21px;
  font-weight: 700;
  margin: 47px 105px 0 105px;
}

.reason-city span {
  font-weight: 400;
  display: block;
  margin: 15px 0 0 0;
}

.reason-city p {
  min-width: 280px;
  min-height: 42px;
  font-weight: 400;
  margin: 22px 55px 64px;
}

.advantages {
  width: 1200px;
  height: 331px;
  background-color: #ffffff;
  color: #333333;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  height: 331px;
  width: 400px;
  text-align: center;
  padding-top: 61px;
}

.advantages-item h3 {
  position: relative;
  margin: 21px 0 0 -3px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.advantages-item p {
  line-height: 21px;
  margin: 24px 55px 0 50px;
}

.reason-item .reason-canyon {
  width: 400px;
  height: 256px;
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
}

.reason-canyon-image {
  width: 800px;
  height: 256px;
  background-image: url("../img/canyon.jpg");
  background-position-y: -77px;
  background-size: cover;
}

.reason-canyon h2 {
  min-width: 20px;
  min-height: 50px;
  font-size: 21px;
  font-weight: 700;
  margin: 45px 125px 0 125px;
}

.reason-canyon span {
  font-weight: 400;
  display: block;
  margin: 15px 0 0 0;
}

.reason-canyon p {
  min-width: 280px;
  min-height: 42px;
  font-weight: 400;
  margin: 21px 37px 64px 40px;
}


.morereason {
  width: 1200px;
  height: 256px;
  /* Изменить цвет */
  background-color: beige;
  color: #333333;
}

.reason-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  line-height: 21px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.morereason-item {
  height: 143px;
  width: 208px;
  padding: 45px 99px 68px 93px;
}

.morereason-item h2 {
  min-width: 20px;
  min-height: 50px;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 0 0;
}

.morereason-item span {
  font-weight: 400;
  display: block;
  margin: 16px;
}

.morereason-item p {
  min-width: 208px;
  min-height: 42px;
  font-weight: 400;
  margin: 21px 0;
}

.check {
  width: 1200px;
  height: 290px;
  /* Изменить цвет */
  background-color: #ffffff;
  color: #333333;
}

.check h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  margin: 49px 0 0 0;
}

.check p {
  min-height: 40px;
  line-height: 24px;
  margin: 24px 370px 47px;
}

.button {
  display: inline-block;
  min-width: 289px;
  min-height: 18px;
  padding: 30px 138px 30px 138px;
  vertical-align: middle;
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  background-color: #766357;
}

.check .button:hover {
  background-color: #604e43;
}

.check .button:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.map {


}

.page-footer {
  height: 48px;
  width: 967px;
  margin-top: -128px;
  margin-left: 243px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #ffffff;
  opacity: 0.9;
  padding: 36px 101px 36px 132px;
}

.page-footer .container {
  height: 48px;

}

.hashtag a {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  width: 136px;
  height: 16px;
  line-height: 26px;
  padding-top: 40px;
}

.social-networks {
  width: 150px;
  height: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.developer {
  width: 197px;
  height: 41px;
}




















.booking input[type="submit"] {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  width: 458px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
}

.booking input[type="submit"]:hover {
  background-color: #669ec0;
}

.booking input[type="submit"]:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}


.filter fieldset {
  border: none;
}

.filter legend {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.filter ul {
  color: #ffffff;
  line-height: 36px;
}

.more {
  font-weight: 700;
  background-color: #81b3d2;
  width: 110px;
  height: 27px;
  color: #ffffff;
}

.more:hover {
  background-color: #669ec0;
}

.more:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.book {
  font-weight: 700;
  background-color: #766357;
  width: 142px;
  height: 27px;
  color: #ffffff;
}

.book:hover {
  background-color: #604e43;
}

.book:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.result-item {
  background-color: #ffffff;
}

.result-item a {
  color: #ffffff;
  font-weight: 700;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
}


